    html{
       scroll-behavior: smooth; 
    }
    body{
        width: 1400px;
        margin:0;
        padding: 0;
    }
    button{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: bold;
        width: 200px;
        height: 60px;
        background-color: #7CC576;
        color: white;
        border-radius: 100px;
        border: transparent;
        cursor: pointer;
        transition: all .75s;
    }
    button:hover{
        background-color: #ffffff;
        color:#000000;
    }
    .nav-head {
        font-family: 'Montserrat', sans-serif;
        // font-family: 'Roboto Slab', serif;
        width: 1168px;
        height: 72px;  
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
        .wap-head-nav {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: flex-end;
            width: 373px;
    
        }
        .menu-cnt{     
            width: 427px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
             span {
                display: inline-block;
                font-size: 14px;

                a {
                    color: #777777;
                    text-decoration: none;
                    transition: all .7s ease-in ;
                    font-weight: bold;
                    &:hover{
                        color: #000000;
                    }
                }
            }
        }
    }
main{
    position: relative;
    #home{
        position: absolute;
        // border: 10px solid red;
        top:50px;
        overflow: hidden;
        width: 1430px;
        height: 530px;
        color: #ffffff;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: white;
        img{
            position: absolute;
            width:100%;
            height: 530px;
        }
        .img-div{
            position: absolute;      
            width: 1430px;
            height: 530px;
            background-color: black;
            opacity: .75;
            color: #ffffff;   
    }

        h1{
            position: absolute;
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
            font-weight: 900;
            width: 560px;
            text-align: center;
            top:49px;
        }
        p{
            position: absolute;
            margin-top: 40px;
            font-family: 'Roboto Slab', serif;
            font-size: 20px;
            top: 223px;
        }
        button{
            position: absolute;
            bottom: 119px;
        }
}
}